<xf:set var="$wrxtTitle"><a href="{{ link('threads', $content) }}" class="fauxBlockLink-blockLink">{$content.title}</a></xf:set>
<xf:if is="$alert.extra_data.status == 'questionable'">
	{{ phrase('wrxt_freshness_alert_questionable', {'title': $wrxtTitle}) }}
<xf:elseif is="$alert.extra_data.status == 'not_working'" />
	{{ phrase('wrxt_freshness_alert_not_working', {'title': $wrxtTitle}) }}
<xf:elseif is="$alert.extra_data.status == 'revalidating'" />
	{{ phrase('wrxt_freshness_alert_revalidating', {'title': $wrxtTitle}) }}
<xf:else />
	{{ phrase('wrxt_freshness_alert_recovered', {'title': $wrxtTitle}) }}
</xf:if>